#step-container {
    width: 80%;
    max-width: 300px;
    margin: 10px auto 0;

  .step-count-container {
    height: 300px !important;
    width: 100%;
    max-width: 300px;
    background-color: #EC2772 !important;
    margin-top:10px;
    .big-text {
      font-size: 72px;
    }
    .pedometer-toggle-button {
      
    }
  }
}
#unsupported {
  margin-top: 10px !important;
}

.pink-alt {
  background-color: #EC2772 !important;
  a {
    color:#fff !important;
  }
}