doctype html
html
  head
    title
    link(rel='apple-touch-icon', href='/img/touch-icon-iphone.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/touch-icon-ipad.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/touch-icon-iphone-retina.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/img/touch-icon-ipad-retina.png')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', type='text/css', href="#{mainCss}")
    script(type='text/javascript', src='/components/requirejs/require.js', data-main="#{mainJs}" )
  body
  .static-header
    .nav
      a(href='/status/')
        span.title NavSteps
      .status-nav-link
        a(href='/status/')
          span.icon-broadcast
  #page.page
    #app.app-container(data-transition='fadeOutLeft')
  #modal
  .static-footer


  