<div class="back-nav"><a href="/admin">Back</a></div>
<div class="toggle-title">Location</div>
<div class="locationswitch">
    <input type="checkbox" name="locationswitch" class="locationswitch-checkbox" id="location-toggle">
    <label class="locationswitch-label" for="location-toggle">
        <span class="locationswitch-inner"></span>
        <span class="locationswitch-switch"></span>
    </label>
</div>
<div class="toggle-title">Treadmill</div>
<div class="treadmillswitch">
    <input type="checkbox" name="treadmillswitch" class="treadmillswitch-checkbox" id="treadmill-toggle">
    <label class="treadmillswitch-label" for="treadmill-toggle">
        <span class="treadmillswitch-inner"></span>
        <span class="treadmillswitch-switch"></span>
    </label>
</div>
<div class="section-title">Pedometer</div>

<div class="status-container">
  <p>count: <span id="steps" class="count"></span></p>
  <br />
  <!-- <button id="silent-audio">Play</div> -->
  <br />
  <button id="pedometer">start pedometer</div>

</div>
