<div class="container">
  <div class="jumbotron">
      {{#if showWelcome}}
      <div id="welcome-notification" class="alert alert-warning" role="alert">
        <div class="top-right dismiss"><a id="dismissal"><span class="icon-cross"></span></a></div>

      <div class="welcome-title"><h1>Welcome</h1></div>
      <div class="welcome-pic"></div>

        <span class="intro">Hey there, thanks for checking out my web app. As an FYI, this is a proof-of-concept personal fitness tracking app I built for fun. Due to browser restrictions as well as significantly better solutions already, this would in no way be a practical solution for tracking fitness. This was built mainly as an exercise to familiarize myself with some modern web apis and new technologies.</span>

      </div>
      {{/if}}
<img class="icon" src="/img/icon-art.png" height="150px" />

          <h1>{{title}}</h1>

          <p>{{subtitle}}</p>
<!-- <img class="icon" src="/img/runner.gif" /> -->

      <p>
      </p>
      <button class="btn btn-primary btn-lg btn-block pink-alt" data-transition="bounce-in"> <a href="/data/">Recent Stats</a></button>
      <button class="btn btn-primary btn-lg btn-block pink-alt" data-transition="bounce-in"> <a href="/status/">Real Time Status Page</a></button>
      <button class="btn btn-primary btn-lg btn-block pink-alt" data-transition="bounce-in"> <a href="/home/demo/">Demo</a></button>
  </div>
</div>
