<div class="status-wrapper">

  <div class="item connected">
    <span id="connection" class="icon-cross"></span>
    <span class="item-text">Connected</span>
    <div id="connection-detail" class="item-sub-view hidden">
      <div class="detail-item">
        <span>Last Connected:</span><span id="last-connected"></span>
      </div>
    </div>
  </div>

  <div class="item activity">
    <span id ="activity" class="icon-cross"></span>
    <span class="item-text">Activity</span>
    <div id="activity-detail" class="item-sub-view hidden">
      <div class="detail-item">
        <span>Steps since connecting:</span><span id="stepcount"></span>
      </div>
      <div class="detail-item">
        <span>On treadmill:</span><span id="treadmill-bool">False</span>
      </div>
    </div>
  </div>

  <div class="item location">
    <span id ="location" class="icon-cross"></span>
    <span class="item-text">Location</span>
    <div id="location-detail" class="item-sub-view hidden">
      <div id="map-canvas" class="detail-item map-canvas">

      </div>
    </div>
  </div>

</div>