<div class="status-wrapper">
  <div class="item connected">
    <div id="no-connection"><span  class="icon-cross"></span></div>
    <div id="connected" class="hidden"><span class="icon-checkmark"></span></div>
    <span class="item-text">Connected</span>
  </div>
  <div class="item activity">
    <span class="icon-cross"></span>
    <span class="item-text">Inactive</span>
  </div>
  <div class="item on-treadmill">
    <span class="icon-cross"></span>
    <span class="item-text">Treadmill</span>
  </div>
  <div class="item running">
    <span class="icon-cross"></span>
    <span class="item-text">Mph</span>
  </div>
</div>