<div id="routes-page" class="page-section">
  <div class="section-nav">
  <div class="section-nav-wrap">
    <div id="trails" class="item"><a href="#">Trails</a></div>
    <div id="uploads" class="item"><a href="#">Uploads</a></div> 
    <div id="glucose" class="item"><a href="#">Glucose</a></div>
  </div>
</div>
  <div id="map-routes-section"></div>
</div>

<div id="pics-page" class="page-section second">
  <div class="section-nav">
  <div class="section-nav-wrap">
    <div id="trails" class="item"><a href="#">Trails</a></div>
    <div id="uploads" class="item"><a href="#">Uploads</a></div> 
    <div id="glucose" class="item"><a href="#">Glucose</a></div>
  </div>
</div>
  <div id="pics-section"></div>
</div>

<div id="glucose-page" class="page-section third">
  <div class="section-nav">
  <div class="section-nav-wrap">
    <div id="trails" class="item"><a href="#">Trails</a></div>
    <div id="uploads" class="item"><a href="#">Uploads</a></div> 
    <div id="glucose" class="item"><a href="#">Glucose</a></div>
  </div>
</div>
  <div id="glucose-section"></div>
</div>