.main-data-view {
  .trackedrun-collection-view {
    width: 80%;
    margin-left:10%;
    margin-top:80px;
    background-color: #fff;
    border-radius: 3px;
    .title {
      padding-left: 40px;
      padding-top: 20px;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .pics-collection-view {
    .title-box {
      width: 100%;

      span {
        text-align: center;
      }
    }
    .pictures {
      max-width: 90%;
      margin-left:5%;
      max-height: 100%;
      overflow: auto;
      .picture {
        width:25%;
        @media @mobile {
          width:33%;
        }
        @media @smallerMobile {
          width:50%;
        }
        height: auto;
        float: left;
        img {
          width:99%;
          height: 99%;
        }
      }
    }
  }
}



