.dannys-unit {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  display: block;
  min-height: 200px;
  min-width: 400px;
  max-width: 100%;
  border: 1px solid gray;


}
.pictures {
  max-width: 95%;
  max-height: 100%;
  overflow: auto;
}
.picture {
  width:100px;
  height: 100px;
  float: left;
  img {
    width:100px;
    height: 100px;
  }
}
#audio-toggle {
  height:50px;
  width:150px;
  background-color: #e6e6e6;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
}