<div class="back-nav"><a href="/admin">Back</a></div>
<div class="form-wrap">
  <form id="glucoseLog" enctype="multipart/form-data" action="/api/admin/glucose" method="post">
  <div class="form-item-wrap">
      <label for="glucoseLevel" class="form-label glucose" style="display:inline;">Glucose Level</label>
      <input type="text" id="glucoseLevel" name="bloodGlucoseLeve" placeholder="mG" class="glucose-number-input" />
    </div>
    <div style="clear:both"></div>
    <div class="form-item-wrap">
      <label for="timeSinceEating" class="form-label glucose" style="display:inline;">Time since eating</label>
      <input type="number" id="timeSinceEating" name="timeSinceEating" placeholder="min" class="glucose-number-input time-since" />
    </div>
    <div style="clear:both"></div>
    <br />
    <div class="form-item-wrap">
      <label class="user-photo-checkbox form-label">Notes (optional)</label> 
      <input type="text" id="glucoseComments" name="glucoseComments" class="glucose-text-input" />
    </div>
    <br />
      <button id="submit-button" type="submit">Submit</button>
  </form>
</div>
